
.container {
    display: flex;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  }
  .sbar {
    width: 25%;
    background-color: rgba(19, 41, 75, 0.8);
  }

  .title {
    margin-bottom: 15px;
  }
  .main-content {
    width: 75%;
    overflow: hidden;
    /* background-color: white; */
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    margin-right: 30px;
  }
  .frm-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }
  .create-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    /* font-weight: bold; */
  }
  .input-create {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #6b646478;
    border-radius: 8px;
    box-sizing: border-box;
    color: #333;
    margin-right: 30px;
    background-color: transparent;
  }
  textarea {
    min-height: 100px;
  }
  .upload-area {
    width: auto;
    border: 2px dashed #6b646478;
    border-radius: 4px;
    padding: 2rem;
    text-align: center;
    background-color: transparent;
  }
  .upload-icon {
    font-size: 2rem;
    color: #888;
    margin-bottom: 1rem;
  }
  .upload-text {
    margin-bottom: 0.5rem;
  }
  .upload-formats {
    font-size: 0.8rem;
    color: #666;
  }
  .submit-button {
    background-color: #e07b67;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
  }
  .submit-button:hover {
    background-color: #c86e5b;
  }

  .image-previews {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 15px;
  }
  .preview-image {
      width: 400px; 
      height: 200px;
      object-fit: cover;
      border: 1px solid #ddd;
      padding: 5px;
      border-radius: 5px;
  }
